body{
  background-color: black !important;
  text-align: center;
  color: white;
}

.horizontal-flex{
  display: flex;
  flex: row;
}

.vertical-flex{
  flex: clear;
  flex: column;
  width: calc(100% - 985px);
  text-align: center;
}

h1{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid blue 10px;
}

p{
  font-size: 2em;
}

#img1{
  position: absolute;
  top : 330px;
  left : 255px;
}

#img2{
  position: absolute;
  top: 330px;
  left: 410px;
}

#img3{
  position: absolute;
  top: 330px;
  left: 570px;
}
